# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Ignore token file
webservices/token.dat
*.log

# Ignore html documentation...
**/html/*

# Ignore data directories
**/data/*
!**/data/README.md

